<!DOCTYPE html>
<html>

    <body>
        <%- include('../partials/head.ejs')%>
        <%- include('../partials/header.ejs')%>
        <div class="contenedor-carrito">
            <div class="imagen-carrito">
                <img width ="40%" src="./images/Rig.jpg" alt="Rig" class="imagen1" >
                <div class="caja-boton-cantidad">    
                    
                    <a class="btn-minnus" href="#"><i class="fas fa-minus-square"></i></a>

                    <div class= form-cantidad>
                        <form action="/" method="POST">
                        <input class="input-cantidad" type="number" min="0" max="10" name="qty" placeholder="Cantidad">
                        </form>          
                    </div>
                    
                    <a class="btn-plus" href="#"><i class="fas fa-plus-square"></i></a>
                </div>
                
                <img width ="40%" src="./images/fuente.png" alt="fuente" class="imagen2" >
                <div class="caja-boton-cantidad">    
                    
                    <a class="btn-minnus" href="#"><i class="fas fa-minus-square"></i></a>

                    <div class= form-cantidad>
                        <form action="/" method="POST">
                        <input class="input-cantidad" type="number" min="0" max="10" name="qty" placeholder="Cantidad">
                        </form>          
                    </div>
                    
                    <a class="btn-plus" href="#"><i class="fas fa-plus-square"></i></a>
                </div>
                
            </div>
                
                <div class="carritoCaja">
                            <p>Subtotal: $0,00</p>
                                <div class="costo-envio">
                                <label>Ciudad:</label>
                                <select name="ciudad" class="control">
                                    <option value="baires">Buenos Aires</option>
                                    <option value="ros">Rosario</option>
                                    <option value="mdz">Mendoza</option>
                                </select>
                                </div>
                            <p>Envio: $0,00</p>
                            <p>Total: $0,00</p>
                        

                        <div class="boton-carrito">
                        
                            <button class="estilo-boton-seguir"><a href="/" type="reset" > Seguir comprando</button>

                            <button class="estilo-boton-comprar"><a href= "/pagar" type="submit"> Confirmar compra </button>
                        
                        </div>
                    
<br>            
                    <div class= form-cupon>
                        <form action="/" method="POST">
                        <input type="text" name="cupon" placeholder="Código promocional">
                        </form>          

                    
                    </div>
                </div>
        </div>

        <%- include('../partials/footer.ejs')%>

    </body>
</html>
