<!DOCTYPE html>
<html>
    <!-- <head>
        <meta charset="UTF-8">
        <title>Criptoventas</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" type="image/x-icon" href="/images/faviconn.ico">
    </head> -->
    <body>
        <%- include('../partials/head.ejs')%>
        <%- include('../partials/header.ejs')%>
        <!-- <nav class="menu">
            <label for="menu" class="nav_label">
                <i id="hamburguer" class="fas fa-bars"></i>
             </label>
             <label class="log"><a href="/"><img src="\images\Logotipo.png" width="45px" height="45px" alt="Logo" class="logo"><span>Criptoventas</span><p style="font-size: 7px; font-style: italic; padding-left: 47px;">Let´s mine</p></a></label>
             <input type="checkbox" id="menu" class="nav_input">
             <ul class="header-items">
                <li class="header-a"><a href="/">Inicio</a></li>
                <li class="header-a"><a href="/login">Log in <i class="far fa-user"></i></a></li>
                <li class="header-a"><a href="/register">Registrate <i class="fas fa-sign-in-alt"></i></a></li>
                <li class="header-a"><a href="">Favoritos <i class="far fa-star"></i></a></li>
                <li class="header-a"><a href="/carrito">Tu carrito <i class="fas fa-shopping-cart"></i> </a></li>
             </ul>
             <div class="form"><input type="search" name="Buscar" id="buscador"> <i class="fas fa-search"></i></div>
         </nav>
    
        <header style="height: 0vh;">
            <hr style="color: white; height: 0.5px;">
        </header> -->

        <div class="contenedor-carrito">
            <div class="imagen-carrito">
                <img width ="40%" src="./images/Rig.jpg" alt="Rig" class="imagen1" >
                <div class="caja-boton-cantidad">    
                    
                    <a class="btn-minnus" href="#"><i class="fas fa-minus-square"></i></a>

                    <div class= form-cantidad>
                        <form action="/" method="POST">
                        <input class="input-cantidad" type="text" name="qty" placeholder="Cantidad">
                        </form>          
                    </div>
                    
                    <a class="btn-plus" href="#"><i class="fas fa-plus-square"></i></a>
                </div>
                
                <img width ="40%" src="./images/fuente.png" alt="fuente" class="imagen2" >
                <div class="caja-boton-cantidad">    
                    
                    <a class="btn-minnus" href="#"><i class="fas fa-minus-square"></i></a>

                    <div class= form-cantidad>
                        <form action="/" method="POST">
                        <input class="input-cantidad" type="text" name="qty" placeholder="Cantidad">
                        </form>          
                    </div>
                    
                    <a class="btn-plus" href="#"><i class="fas fa-plus-square"></i></a>
                </div>
                
            </div>
                
                <div class="carritoCaja">
                            <p>Subtotal: $0,00</p>
                                <div class="costo-envio">
                                <label>Ciudad:</label>
                                <select name="ciudad" class="control">
                                    <option value="baires">Buenos Aires</option>
                                    <option value="ros">Rosario</option>
                                    <option value="mdz">Mendoza</option>
                                </select>
                                </div>
                            <p>Envio: $0,00</p>
                            <p>Total: $0,00</p>
                        

                        <div class="boton-carrito">
                        
                            <button class="estilo-boton-seguir"><a href="/" type="reset" > Seguir comprando</button>

                            <button class="estilo-boton-comprar"><a href= "/pagar" type="submit"> Confirmar compra </button>
                        
                        </div>
                    
<br>            
                    <div class= form-cupon>
                        <form action="/" method="POST">
                        <input type="text" name="cupon" placeholder="Código promocional">
                        </form>          

                    
                    </div>
                </div>
        </div>

        <footer class="footer-distributed">

            <div class="footer-left">
    
                <a class="cv" href="/"><img src="\images\Logotipo.png" width="45px" height="45px" alt="Logo" class="logo">Criptoventas</a>
    
                <p class="footer-links">
                    <a href="#" class="link-1">Home</a>
                    
                    <a href="#">Presupuestos</a>
                
                    <a href="#">Terminos y condiciones</a>
                
                    <a href="#">Nosotros</a>
                    
                    <a href="#">Ayuda</a>
                    
                    <a href="#">Contacto</a>
                </p>
    
                <p class="footer-company-name">Criptoventas © 2021</p>
            </div>
    
            <div class="footer-center">
    
                <div>
                    
                    <p><span>Calle 62 nro 370</span> La Plata, Buenos Aires</p>
                </div>
    
                <div>
                    
                    <p>+54221-156020066</p>
                </div>
    
                <div>
                    
                    <p><a href="mailto:support@company.com">criptoventas@binance.com</a></p>
                </div>
    
            </div>
    
            <div class="footer-right">
    
                <p class="footer-company-about">
                    <span>Acerca de nosotros</span>
                    Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                </p>
            </div>
    
        </footer>
    </body>
</html>
    <!-- <div class="contenedor">
        Subtotal: $0,00
          <div class="costo-envio">
              <label>Ciudad:</label>
              <select name="ciudad" class="control">
                  <option value="baires">Buenos Aires</option>
                  <option value="ros">Rosario</option>
                  <option value="mdz">Mendoza</option>
              </select>
          </div>
        <p>Envio: $0,00</p>
        <p>Total: $0,00</p>

          <div class="boton-comprar">
              
              <button class="estilo-boton-seguir"><a href="/" type="reset" > Seguir comprando</button>
              <button class="estilo-boton-comprar"><a href= "/pagar" type="submit"> Comprar! </button>
              
          </div>
      </div> -->