<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="css/styles.css" defer></script>
    <link rel="icon" type="image/x-icon" href="/images/faviconn.ico">
    <title>Detalle</title>
</head> -->
<body>
    <%- include('../partials/head.ejs')%>
    <%- include('../partials/header.ejs')%>
     <!-- <nav class="menu">
        <label for="menu" class="nav_label">
            <i id="hamburguer" class="fas fa-bars"></i>
         </label>
         <label class="log"><a href="/"><img src="\images\Logotipo.png" width="45px" height="45px" alt="Logo" class="logo"><span>Criptoventas</span><p style="font-size: 7px; font-style: italic; padding-left: 47px;">Let´s mine</p></a></label>
         <input type="checkbox" id="menu" class="nav_input">
         <ul class="header-items">
            <li class="header-a"><a href="/">Inicio</a></li>
            <li class="header-a"><a href="/login">Log in <i class="far fa-user"></i></a></li>
            <li class="header-a"><a href="/register">Registrate <i class="fas fa-sign-in-alt"></i></a></li>
            <li class="header-a"><a href="">Favoritos <i class="far fa-star"></i></a></li>
            <li class="header-a"><a href="/carrito">Tu carrito <i class="fas fa-shopping-cart"></i> </a></li>
         </ul>
         <div class="form"><input type="search" name="Buscar" id="buscador"> <i class="fas fa-search"></i></div>
     </nav>

    <header style="height: 0vh;">
        <hr style="color: white; height: 0.5px;">
    </header> -->
     <br>
    <br>
    <div class="contenedor-producto1">
        <h1 style="color: azure; text-align: center;">Información detallada</h1>
        <h2 style="color: azure; text-align: center; padding-top: 3vw;">Aquí podrás echar un vistazo a los componentes de este producto </h2>
      </div>
    <section class="detalle-producto">

        <ul class="slider-producto">
          <li>
        <div class="contenedor-producto">
            <img class="imagen-producto" src="/images/placa.png" alt="placa" />
            <span class="titulo-producto">Placa de video AMD 6800XT</span>
            <span class="precio-producto">$350000</span>
            <span class="descripcion-producto">
              Este rig cuenta con la instalacion de 8 placas de video amd
              6800xt,capaces de generar 506 mh/s y ni hablar de su bajo consumo
              electrico ¡Ideal para que nos llegue una cuenta de luz razonable!
            </span>
            </div>
          </li>
  
          <li>
            <div class="contenedor-producto">
            <img class="imagen-producto" src="/images/Motherboard1.webp" alt="mother" />
            <span class="titulo-producto">Motherboard</span>
            <span class="precio-producto">$20.000</span>
            <span class="descripcion-producto">
              Una Motherboard capaz de soportar sin problemas la instalacion de 8 placas de video amd
              6800xt, adaptable a todos los sistemas de minado que se encuentran actualmente en el mercado.
            </span>
          </div>
          </li>
  
          <li>
            <div class="contenedor-producto">
            <img class="imagen-producto" src="/images/fuente.png" alt="placa" />
            <span class="titulo-producto">Fuente de alimentación</span>
            <span class="precio-producto">$17.530</span>
            <span class="descripcion-producto">
              Una fuente de alimentación con las caracteristicas suficientes para adaptarse a este rig y evitar cualquier tipo de incoveniente con la tension electrica gracias a su sistema de seguridad Break out.
              Certificada %100 platinum por su fabricante importado directamente de Alemania.
            </span>
            </div>
        </li>
  
        </ul>
      </div>
       
      </section>
    <section>
        <br>
        <br>
        <a href="/"><button type="button">Volver al inicio</button></a>
    <a href="/carrito"><button type="button">agregar al carrito</button></a>
    </section> 

    <footer class="footer-distributed">

        <div class="footer-left">

            <a class="cv" href="/"><img src="\images\Logotipo.png" width="45px" height="45px" alt="Logo" class="logo">Criptoventas</a>

            <p class="footer-links">
                <a href="#" class="link-1">Home</a>
                
                <a href="#">Presupuestos</a>
            
                <a href="#">Terminos y condiciones</a>
            
                <a href="#">Nosotros</a>
                
                <a href="#">Ayuda</a>
                
                <a href="#">Contacto</a>
            </p>

            <p class="footer-company-name">Criptoventas © 2021</p>
        </div>

        <div class="footer-center">

            <div>
                
                <p><span>Calle 62 nro 370</span> La Plata, Buenos Aires</p>
            </div>

            <div>
                
                <p>+54221-156020066</p>
            </div>

            <div>
                
                <p><a href="mailto:support@company.com">criptoventas@binance.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>Acerca de nosotros</span>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>
        </div>
    </footer>
</body>
</html>