<!DOCTYPE html>
<html lang="en">
<body>
    <%- include('../partials/head.ejs')%>
    <%- include('../partials/header.ejs')%>
    <div class="editor-creador">
        <div class="creador">
            <h2>Crear un producto</h2>
            <ul>
                <li><input type="text" name="name" id=""></li>   
                <li><input type="text" name="description" id=""></li>   
                <li><input type="image" name="image" id=""></li>   
                <li><input type="text" name="category" id=""></li>   
                <li><input type="text" name="color" id=""></li>   
                <li><input type="number" name="price" id=""></li>   
            </ul>
        </div>
        <div class="editor">
            <h2>Editar un producto</h2>
        </div>
    </div>
    <%- include('../partials/footer.ejs')%>
</body>
</html>