<!DOCTYPE html>
<html lang="en">
<body>
    <%- include('../partials/head.ejs')%>
    <%- include('../partials/header.ejs')%>
 
    <header>
        <hr style="color: white; height: 0.5px;">
        <br>
        <br>
        <div class="slider">
            <div class="slides">
                <!-- Botones inicio -->
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
                <!-- Botones fin -->
                <!-- Slider imagenes inicio -->
                <div class="slide first">
                    <img src="\images\Slider\penrose.jpg" alt="Slider">
                </div>
                <div class="slide">
                    <img src="\images\Slider\external-content.duckduckgo.com.jpg" alt="Slider">
                </div>    
                <div class="slide">
                    <img src="\images\Slider\rig.png" alt="Slider">
                </div>  
                <div class="slide">
                    <img src="\images\Slider\placa.png" alt="Slider">
                </div>
                <!-- Slider imagenes fin -->
                <!-- Navegacion automatica inicio -->
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>
                <!-- Navegacion automatica fin -->
            </div>
                <!-- Navegacion manual inicio -->
                <div class="navigation-manual">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
                <!-- Navegacion manual fin -->
        </div>
        <script type="text/javascript">
            var counter=1;
            setInterval(function(){
                document.getElementById('radio' + counter).checked=true;
                counter++
                if(counter > 4){
                    counter=1;
                }
            }, 5000);
        </script>
    </header>
    <br>
    <br>
    <main>
        <h3>Nuestra estrategia</h3>
        <br>
        <p>
            Somos una empresa con experiencia en el mundo de la informática y el hardware.
            
            Desde 2022 creamos rig de minería para diferentes clientes, tanto particulares como para empresas.
            
            Estamos localizados en La Plata y tenemos nuestras propias instalaciones, donde invitamos a los clientes a visitarnos para poder ver las diferentes opciones que ofrecemos a la hora de construir un rig.</p>
            <br>
            <p>Trabajamos con los mejores fabricantes de componentes para montar tu Rig, ofreciendo el máximo rendimiento posible en el mercado.</p>


            <hr>
            <h3>Algunas Consideraciones:</h3>
            <p>
                Si compras un RIG que no esta a su tope de capacidad de tarjetas, puedes agregarle mas despues, cualquiera que compres, no tiene por que ser la misma.
                Las fechas de entrega son pesimistas, pero igual pueden tener un tiempo de demora, NO se hace despacho, deben venirse a buscar a comuna de Las Condes.
                
                Garantia: Cada pieza tiene su garantia, se debe ver con la marca original, si se vulnera un sello, no hay nada que hacer con la garantia.</p>
    </main>
    <br>
    <hr style="color: white; height: 0.5px;">
    <%- include('../partials/footer.ejs')%>
</body>
</html>