<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="grupo_3_criptoventas\src\views\app.js" defer></script>
    <link rel="icon" type="image/x-icon" href="/public/images/faviconn.ico">
    <title>CryptoVentas</title>
</head> -->
<body>
    <%- include('../partials/head.ejs')%>
     <nav class="menu">
        <label for="menu" class="nav_label">
            <i id="hamburguer" class="fas fa-bars"></i>
         </label>
         <label class="log"><a href="/"><img src="\images\Logotipo.png" width="45px" height="45px" alt="Logo" class="logo"><span>Criptoventas</span><p style="font-size: 7px; font-style: italic; padding-left: 47px;">Let´s mine</p></a></label>
         <input type="checkbox" id="menu" class="nav_input">
         <ul class="header-items">
            <li class="header-a"><a href="/">Inicio</a></li>
            <li class="header-a"><a href="/login">Log in <i class="far fa-user"></i></a></li>
            <li class="header-a"><a href="/register">Registrate <i class="fas fa-sign-in-alt"></i></a></li>
            <li class="header-a"><a href="">Favoritos <i class="far fa-star"></i></a></li>
            <li class="header-a"><a href="/carrito">Tu carrito <i class="fas fa-shopping-cart"></i> </a></li>
         </ul>
         <div class="form"><input type="search" name="Buscar" id="buscador"> <i class="fas fa-search"></i></div>
     </nav>
     
    <header>
        <hr style="color: white; height: 0.5px;">
        <br>
        <br>
        <div class="slider">
            <div class="slides">
                <!-- Botones inicio -->
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
                <!-- Botones fin -->
                <!-- Slider imagenes inicio -->
                <div class="slide first">
                    <img src="\images\Slider\penrose.jpg" alt="Slider">
                </div>
                <div class="slide">
                    <img src="\images\Slider\external-content.duckduckgo.com.jpg" alt="Slider">
                </div>    
                <div class="slide">
                    <img src="\images\Slider\rig.png" alt="Slider">
                </div>  
                <div class="slide">
                    <img src="\images\Slider\placa.png" alt="Slider">
                </div>
                <!-- Slider imagenes fin -->
                <!-- Navegacion automatica inicio -->
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>
                <!-- Navegacion automatica fin -->
            </div>
                <!-- Navegacion manual inicio -->
                <div class="navigation-manual">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
                <!-- Navegacion manual fin -->
        </div>
        <script type="text/javascript">
            var counter=1;
            setInterval(function(){
                document.getElementById('radio' + counter).checked=true;
                counter++
                if(counter > 4){
                    counter=1;
                }
            }, 5000);
        </script>
    </header>
    <br>
    <br>
    <main>
        <section class="homesection-producto">
            <a href="detalle"><article class="homearticulo-producto">
                <img class="home-producto" src="\images\Motherboard5.webp" alt="Producto">
                <div class="home-descripcion">
                    <p class="descripcion">Descripcion del producto</p>
                    <p class="precio">$57.000</p>
                    <p class="envio">Envio gratis</p>
                </div>
            </article></a>
            <a href="detalle"><article class="homearticulo-producto">
                <img class="home-producto" src="\images\Motherboard1.webp" alt="Producto">
                <div class="home-descripcion">
                    <p class="descripcion">Descripcion del producto</p>
                    <p class="precio">$57.000</p>
                    <p class="envio">Envio gratis</p>
                </div>
            </article></a>
            <a href="detalle"><article class="homearticulo-producto">
                <img class="home-producto" src="\images\Motherboard2.webp" alt="Producto">
                <div class="home-descripcion">
                    <p class="descripcion">Descripcion del producto</p>
                    <p class="precio">$57.000</p>
                    <p class="envio">Envio gratis</p>
                </div>
            </article></a>
            <a href="detalle"><article class="homearticulo-producto">
                <img class="home-producto" src="\images\Motherboard3.webp" alt="Producto">
                <div class="home-descripcion">
                    <p class="descripcion">Descripcion del producto</p>
                    <p class="precio">$57.000</p>
                    <p class="envio">Envio gratis</p>
                </div>
            </article></a>
            <a href="detalle"><article class="homearticulo-producto">
                <img class="home-producto" src="\images\Motherboard4.webp" alt="Producto">
                <div class="home-descripcion">
                    <p class="descripcion">Descripcion del producto</p>
                    <p class="precio">$57.000</p>
                    <p class="envio">Envio gratis</p>
                </div>
            </article></a>
            <a href="detalle"><article class="homearticulo-producto">
                <img class="home-producto" src="\images\Rig1.webp" alt="Producto">
                <div class="home-descripcion">
                    <p class="descripcion">Descripcion del producto</p>
                    <p class="precio">$57.000</p>
                    <p class="envio">Envio gratis</p>
                </div>
            </article></a>
            <a href="detalle"><article class="homearticulo-producto">
                <img class="home-producto" src="\images\Rig2.webp" alt="Producto">
                <div class="home-descripcion">
                    <p class="descripcion">Descripcion del producto</p>
                    <p class="precio">$57.000</p>
                    <p class="envio">Envio gratis</p>
                </div>
            </article></a>
            <a href="detalle"><article class="homearticulo-producto">
                <img class="home-producto" src="\images\Rig3.webp" alt="Producto">
                <div class="home-descripcion">
                    <p class="descripcion">Descripcion del producto</p>
                    <p class="precio">$57.000</p>
                    <p class="envio">Envio gratis</p>
                </div>
            </article></a>
            <a href="detalle"><article class="homearticulo-producto">
                <img class="home-producto" src="\images\Rig4.webp" alt="Producto">
                <div class="home-descripcion">
                    <p class="descripcion">Descripcion del producto</p>
                    <p class="precio">$57.000</p>
                    <p class="envio">Envio gratis  </p>
                </div>
            </article></a>
        </section>
    </main>
    <br>
    <hr style="color: white; height: 0.5px;">
    <footer class="footer-distributed">
        <hr style="color: white; height: 0.5px;">
        <div class="footer-left">

            <a class="cv" href="/"><img src="\images\Logotipo.png" width="45px" height="45px" alt="Logo" class="logo">Criptoventas</a>

            <p class="footer-links">
                <a href="#" class="link-1">Home</a>
                
                <a href="#">Presupuestos</a>
            
                <a href="#">Terminos y condiciones</a>
            
                <a href="#">Nosotros</a>
                
                <a href="#">Ayuda</a>
                
                <a href="#">Contacto</a>
            </p>

            <p class="footer-company-name">Criptoventas © 2021</p>
        </div>

        <div class="footer-center">

            <div>
                
                <p><span>Calle 62 nro 370</span> La Plata, Buenos Aires</p>
            </div>

            <div>
                
                <p>+54221-156020066</p>
            </div>

            <div>
                
                <p><a href="mailto:support@company.com">criptoventas@binance.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>Acerca de nosotros</span>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>
        </div>
    </footer>
</body>
</html>