<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link href="/css/Carrito.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
    <h3>TU PEDIDO</h3>
    <section>
        <articles class="topaid">
          <img width="100%" src="/images/rig.jpg"class="Carrito">
          <hr>
          <div class="contenedor">
              Subtotal: $0,00
                <div class="costo-envio">
                    <label>Ciudad:</label>
                    <select name="ciudad" class="control">
                        <option value="baires">Buenos Aires</option>
                        <option value="ros">Rosario</option>
                        <option value="mdz">Mendoza</option>
                    </select>
                </div>
              <p>Envio: $0,00</p>
              <p>Total: $0,00</p>

                <div class="boton-comprar">
                    
                    <button class="estilo-boton-seguir"><a href="/" type="reset" > Seguir comprando</button>
                    <button class="estilo-boton-comprar"><a href= "/pagar" type="submit"> Comprar! </button>
                    
                </div>
          </div>
        </articles>
      </section>

    

    
        
    
  
</body>
</html>