<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/detalle.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body class="fondo">
    <header>
        <img width="100%" src="/images/monedas.jpg">
        <img width="50%" src="/images/Criptoventas-detalle.png" alt="Logo" class="logo">

        
        <h2>Acerca de este Rig</h2>
    </header>
    <br>
    <br>
    <section>
        <article>
            <img width="50%" src="/images/placa.png" alt="placa">
        <span>Este rig cuenta con la instalacion de 8 placas de video amd 6800xt, capaces de generar 506 mh/s y ni hablar de su bajo consumo electrico ¡Ideal para que nos llegue una cuenta de luz razonable!</span>
        </article>
        <br>
        <br>
    <article>
        <img width="50%" src="/images/fuente.png" alt="fuente">
        <span>Cuando se trata de alimentacion electrica no hay que escatimar en gastos...Por eso este rig incluye el potente y silencioso ¡Corsair 1800 cv Pro!. Gracias a esta bestia tu equipo va a estar siempre funcionando a su maxima capacidad</span>
    </article>
        <br>
        <br>
        <article>
            <img width="50%" src="/images/mother.png" alt="fuente">
            <span>El cerebro es lo mas importante desdepues de los musculos; y si bien este rig trae consigo mucha potencia de GPU, con este Motherboard Gigabyte 3500 series rgb ultra vas a estar a la altura de implementar el sistema de minado que desees.<br>Compatible con Windows hasta Hiveos sin trabas ni demoras</span>
        </article>
        <br>
        <br>
    </section>
</body>
<footer>
    <a href="/"><button type="button">Volver al inicio</button></a>
    <a href="/carrito"><button type="button">agregar al carrito</button></a>
</footer>
</html>