<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="main-header">
            <img width="50%" src="/images/Cryptoventas-logo.png" alt="Logo" class="logo">
        </div>
        <a href="home.html"><button type="button">Volver al inicio</button></a>
    </header>
    <img width="100%" src="/images/rig.jpg" alt="rig"></a>
</body>
</html>