<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <title>CryptoVentas</title>
</head>
<body>
    <header>
        <div class="main-header">
            <img width="50%" src="/images/Cryptoventas-logo.png" alt="Logo" class="logo">
        </div>

        <div class="burguer-menu"
        
    </header>

    <main>
        <div class="video">
            <video width= "100%" src="/images/Compra.mp4"  loop autoplay >
        </div>
     <div class="productos">
        <section>
            <div class="products">
                <article>
                    <img width="100%" src="/images/rig.jpg" alt="rig">
                    <div>
                        <p class="precio">$100.000</p>
                        <p class= "descuento">50% OFF</p>

                    </div>
                </article>
            </div>  
        </section>

        <section>
            <div class="products">
                <article>
                    <img width="100%" src="/images/rig.jpg" alt="rig">
                    <div>
                        <p class="precio">$100.000</p>
                        <p class= "descuento">50% OFF</p>

                    </div>
                </article>
            </div>  
        </section>

        <section>
            <div class="products">
                <article>
                    <img width="100%" src="/images/rig.jpg" alt="rig">
                    <div>
                        <p class="precio">$100.000</p>
                        <p class= "descuento">50% OFF</p>

                    </div>
                </article>
            </div>  
        </section>

        <section>
            <div class="products">
                <article>
                    <img width="100%" src="/images/rig.jpg" alt="rig">
                    <div>
                        <p class="precio">$100.000</p>
                        <p class= "descuento">50% OFF</p>

                    </div>
                </article>
            </div>  
        </section>

        <section>
            <div class="products">
                <article>
                    <img width="100%" src="/images/rig.jpg" alt="rig">
                    <div>
                        <p class="precio">$100.000</p>
                        <p class= "descuento">50% OFF</p>

                    </div>
                </article>
            </div>  
        </section>

        <section>
            <div class="products">
                <article>
                    <img width="100%" src="/images/rig.jpg" alt="rig">
                    <div>
                        <p class="precio">$100.000</p>
                        <p class= "descuento">50% OFF</p>

                    </div>
                </article>
            </div>  
        </section>
    </div>    
    </main>

    <footer>
        <section>
            <h4>Acerca de nosotros</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore, cumque cupiditate voluptates consectetur laborum beatae explicabo sequi ad assumenda iure labore saepe rem voluptas, praesentium quaerat illo iste eaque dolorem.</p>
        </section>

        <section>
            <h4>Politicas de privacidad</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis velit quo, voluptatem culpa cum fugiat voluptates, dolor laborum molestias repellendus ipsa reiciendis maiores, illum sit omnis similique a porro cumque?</p>
        </section>

        <section>
            <h4>Contactanos</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, est minus quia quisquam nemo possimus fugiat inventore. Nostrum, rem. Dolores nemo soluta possimus iste natus eaque consequuntur maxime enim fugiat.</p>
        </section>
    </footer>

</body>
</html>