<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Binance</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/formulario.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <a href="/"><img style="max-width: 250px; max-height:250px" id="logo" src="\images\Cryptoventas-logo.png" alt="Binance-Logo"></a>
                </div>
            </div>
          <br>
            <nav>
              <p>Si no estas registrado <a href='/register'> Registrate <i class="far fa-chart-bar"></i></a></p>
              <br>
              <hr>
              <br>
            </nav>
        </header>
        <main class="login">
            <form action="/" method="POST">
                <input type="text" name="user" placeholder="Nombre de usuario">
                <input type="password" name="pass" placeholder="Contraseña">
                <input class="enviar" type="submit" value="Enviar">
            </form>
              <br>
              <hr>
              <br>

        </main>
        <br>
        <footer class="footer-distributed">
    
            <div class="footer-left">
    
                <h3>Cripto<span>ventas</span></h3>
    
                <p class="footer-links">
                    <a href="#" class="link-1">Home</a>
                    
                    <a href="#">Presupuestos</a>
                
                    <a href="#">Terminos y condiciones</a>
                
                    <a href="#">Nosotros</a>
                    
                    <a href="#">Ayuda</a>
                    
                    <a href="#">Contacto</a>
                </p>
    
                <p class="footer-company-name">Criptoventas © 2021</p>
            </div>
    
            <div class="footer-center">
    
                <div>
                    
                    <p><span>Calle 62 nro 370</span> La Plata, Buenos Aires</p>
                </div>
    
                <div>
                    
                    <p>+54221-156020066</p>
                </div>
    
                <div>
                    
                    <p><a href="mailto:support@company.com">criptoventas@binance.com</a></p>
                </div>
    
            </div>
    
            <div class="footer-right">
    
                <p class="footer-company-about">
                    <span>Acerca de nosotros</span>
                    Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                </p>
            </div>
    
        </footer>
    </body>
</html>