<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Binance</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/formulario.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="\images\Cryptoventas-logo.png" alt="Binance-Logo">
                </div>
            </div>
          <br>
            <nav>
              <p>Si no estas registrado <a href='/register'> Registrate <i class="far fa-chart-bar"></i></a></p>
              <br>
              <hr>
              <br>
            </nav>
        </header>
        <main class="login">
            <form action="/" method="POST">
                <input type="text" name="user" placeholder="Nombre de usuario">
                <input type="password" name="pass" placeholder="Contraseña">
                <input class="enviar" type="submit" value="Enviar">
            </form>
              <br>
              <hr>
              <br>

        </main>
        <footer>
          <div class="barra">
            <a href="#"> Nosotros </a>
            <a href="#"> Condiciones </a>
            <a href="#"> Contacto </a>
          </div>
          <br>
          <hr>
          <div id="cr">
            © Copyright 2021 Criptoventas - Binance Company - All Rights Reserved 
          </div>
        </footer>
    </body>
</html>