<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Criptoventas</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/formulario.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="\images\Cryptoventas-logo.png" alt="Binance-Logo">
                </div>
                    <li><a href="/login">Si ya tienes cuenta, ingresa  <i class="fas fa-sign-in-alt"></i></a></li>
                </ul>
            </nav>
          <br>
      
        </header>
        <main class="register">
            <form action="/" method="POST">
                <input type="text" name="name" placeholder="Nombre completo">
                <input type="text" name="user" placeholder="ID">
                <input type="email" name="email" placeholder="e-mail">
                <br>
                <label for="birth_date"><b>Fecha de nacimiento</b></label>
                <br>
                <input type="date" name="birth_date" id="birth_date">



                <br>
                <br>
                <input type="password" name="pass" placeholder="Elegí tu contraseña">
                <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
                <br>
                <br>
                <input type="submit" value="Enviar">
                <input type="reset" value="Borrar">
                <br>
                <br>
            </form>
        </main>
        <footer>
        </footer>
    </body>
</html>