*{
    padding: 0;
    margin: 0;
	outline: 0;
    box-sizing: border-box;
}
body{
	display: block;
	font-family:'Open Sans', Arial, Helvetica, sans-serif;
	background-color: black;
}
.menu{
	background-color: black;
	height: 75px;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid white;
	color: white;
	position: fixed;
	top: 0;
}

.log{
	padding:0px 10px;
	font-weight: bold;
}
.log img{
	padding: 0px;
}
/* Comienza estilos del slider */
.slider{
	width: 800px;
	height: 500px;
	border-radius: 10px;
	overflow: hidden;
}
.slides{
	width: 500%;
	height: 500px;
	display: flex;
}
.slides input{
	display: none;
}
.slide{
	width: 20%;
	transition: 2s;

}
.slide img{
	width:800px ;
	height: 500px;
}
/* Finaliza estilos del slider */
/* inicio navegacion manual */
.navigation-manual{
	position: absolute;
	width:800px;
	margin-top:-40px;
	display: flex;
	justify-content: center;
}
.manual-btn{
	border: 2px solid white ;
	padding: 5px;
	border-radius:10px;
	cursor:pointer;
	transition:1s;
}
.manual-btn:not(:last-child){
	margin-right: 20px;
}
.manual-btn:hover{
	background-color: white ;
	transition:500ms;
}
#radio1:checked ~ .first{
	margin-left: 0;
}
#radio2:checked ~ .first{
	margin-left: -20%;
}
#radio3:checked ~ .first{
	margin-left: -40%;
}
#radio4:checked ~ .first{
	margin-left: -60%;
}
/* fin navegacion manual */
/* Navegacion automatica inicio*/
.navigation-auto{
	position: absolute;
	display: flex;
	width: 800px;
	justify-content: center;
	margin-top: 460px;
}
.navigation-auto div{
	border: 2px solid white;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
}
.navigation-auto div:not(:last-child){
	margin-right: 20px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
	background: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
	background: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
	background: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
	background: white;
}

/* Navegacion automatica fin*/
.header-items{
	display: flex;
	margin-right: 30px;
	justify-content: space-between;
	list-style: none;
}
.header-items li a{
	font-size: 11px;
	border-radius: 1px;
	margin: 0 5px;
	display:block;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	position: relative;
	transition: 0.5s;
}
.header-items li a:after{
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	top: 100%;
	left: 0;
	background: white;
	transition: transform 0.5s;
	transform: scaleX(0);
	transform-origin: right;
}
.header-items li a:hover{
	color: #95a5a6;
}
.header-items li a:hover::after{
	transform: scaleX(1);
	transform-origin: left;
}

.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;

}

.descuento{
    color: green;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}

.footer-distributed{
	background: black;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 0px 55px 30px 55px;
    bottom: 0;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
.footer-distributed .footer-left{
	width: 40%;
}
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}
header a{
	text-decoration: none;
	/* color: grey; */
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  white;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}


.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.header-table a{
	padding: 10px;
	color: white;
	display: flex;
	justify-content: flex-end;
}
.form{
	margin-right: 10px;
}
.logo{
	padding: 10px;
}
header{
	margin-bottom: 50px;
	padding-top: 50px;
	/* height: 50vh;  */
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}
main{
	background-color: black;
}
hr{
	border: none;
	height: 0.5px;
}
.cv{
	text-decoration: none;
	color: white;
}
cts:hover article{
	box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.products{
	display:flex;
}
.nav_input{
	display: none; 
}
.nav_label{
	display: none;
	margin-right:30px;
	font-size: 25px;
	color: white;
	cursor: pointer;
}
@media screen and (max-width:718px){
	.nav_input:checked + .header-items{
		display:inline-block;
   }
	.menu{
		height: 65px;
		padding-left: 20px;
		position: fixed;
	}
	.nav_label{
		display: inline-flex;
	}

	.header-items{
		display: none;
	}
	.header-items{
		background:black;
		position: fixed;
		display: flex;
		flex-direction: column;
		top:80px;
		/* bottom: 0;   */
		clip-path: inset(0 100% 100% 0);
		transition: clip-path 400ms ease-in;
		transition-duration: 150ms;
	}
	.nav_input:checked + .header-items{
		clip-path: inset(0 100% 0 100%);
	}
}
.log a{
	text-decoration: none;
	color: white;
}

/* aqui empieza el estilos Detalles */


.detalle-producto{
	display: flex;
}

.contenedor-producto{
	box-shadow: 0px 0px 10px rgb(82, 1, 1);
	background-color: rgb(24, 23, 23);
	margin: 10vw;
	border-radius: 2vw;
	padding-top: 2vw;
	padding-bottom: 2vw;
	padding-left: 2vw;
	padding-right: 2vw;
	background-image:url(/images/fondo-textura.jpg);
	display: block;
	
}
.contenedor-producto1{
	box-shadow: 0px 0px 10px rgb(82, 1, 1);
	background-color: rgb(24, 23, 23);
	margin: 3vw;
	width: 100%;
	border-radius: 2vw;
	padding-top: 2vw;
	padding-bottom: 2vw;
	margin-left: 0vw;
	
	background-image: url(/images/fondo-textura.jpg);
	display: block;
	
}
.contenedor-producto:hover{
	box-shadow: 0px 0px 10px rgb(202, 0, 0);
	object-fit: cover;
	}

.imagen-producto{
	justify-content: center;
	height: auto; 
	width: auto; 
	max-width: 300px; 
	max-height: 300px;
	display: block; 
	margin: auto;
	box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.titulo-producto{
	color: azure;
	font-size: 4vw;
	font-weight: bolder;
	margin: auto;
	text-align: center;
	display: block;
}

.precio-producto{
	color: azure;
	font-size: 3vw;
	font-weight: bold;
	text-align: center;
	padding-bottom: 2vw;
	display: block;
}
.descripcion-producto{
	color: azure;
	justify-content: center;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	display: block; 
	margin: auto;
}

.slider-producto li img{
	height: auto;
max-width: 100%;
	
}
.homesection-producto{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
 .homearticulo-producto{
	border-radius: 7px;
	margin: 30px;
	padding: 0 0 10px 0;
} 
.homearticulo-producto:hover{
	box-shadow: 1px 1px 10px rgb(100, 100, 100);
}
.home-producto{
	height: 200px;
	width: 200px;
	object-fit: cover;
}
.home-descripcion{
	text-align: center;
	color: white;
	font-size: 13px;
}
main{
	width: 90vw;
}
.envio{
	color:#226e2c;
	font-size: 8px;
	text-align:right;
}
.home-descripcion i{
	color: #226e2c;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    /* border: 1px solid #0022AA; */
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.register{
	text-align: center;
	color: white;
	box-shadow: 0px 0px 10px rgb(82, 1, 1);
	background-color: rgb(24, 23, 23);
	margin: auto;
	background-image:url(/images/fondo-textura.jpg);
}
.register:hover{
	box-shadow: 0px 0px 10px rgb(202, 0, 0);
	object-fit: cover;
	}
.userHome{
	text-align: center;
	color: white;
	box-shadow: 0px 0px 10px rgb(82, 1, 1);
	background-color: rgb(24, 23, 23);
	margin: auto;
	background-image:url(/images/fondo-textura.jpg);
}
.login{
	text-align: center;
	color: white;
	box-shadow: 0px 0px 10px rgb(82, 1, 1);
	background-color: rgb(24, 23, 23);
	margin: auto;
	background-image:url(/images/fondo-textura.jpg);
}
.login:hover{
	box-shadow: 0px 0px 10px rgb(202, 0, 0);
	object-fit: cover;
	}
/* aqui empieza el estilos Carrito */
.header-carrito{
	margin-bottom: 50px;
	padding-top: 50px;
	height: 0vh; 
}
.imagen1 {
	border: 1px solid grey;
	
	
}
.imagen2 {
	border: 1px solid grey;
	margin-top: 10px;
	
}

.contenedor-carrito{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 20px;
	padding-left: 10px;
}	

.imagen-carrito , .carritoCaja{
	width: 50%;
}
.imagen-carrito{
	display: flex;
	flex-direction: column;
}

.carritoCaja{
	display: flex;
	margin-left: 10px;
	flex-direction: column;
	text-align: center;
	justify-content: right;
}

.boton-carrito {
	padding-top: 15px;
}

.boton-carrito a{
	text-decoration: none;
	color: black;
	
}

.estilo-boton-seguir{
	background-color: chocolate;
}

.estilo-boton-seguir:hover{
background-color: rgb(210, 51, 30);
	transition: all 0.5s ease;
	border-radius: 10px;
}

.estilo-boton-comprar{
	background-color: green;
	
}

.estilo-boton-comprar:hover{
	background-color: rgb(105, 211, 18);
	transition: all 0.5s ease;
	border-radius: 10px;
	
}

.btn-plus i{
	background-color: black;
	color: white;
	
}
.btn-minnus i{
	background-color: black;
	color: white;

}

.form-cantidad, .caja-boton-cantidad{
	
	width: 50%;
	
}

.carritoCaja p{
	color: white;
	
}
.carritoCaja label{
	color: white;
	
}

.caja-boton-cantidad{
	display: flex;
	justify-content: center;
	align-items: stretch;

	
}

.input-cantidad{
	width: 100%;
	text-align: center;
}
.editor-creador{
	display: flex;
	justify-content: space-around;
	color: white;
}
.editor{
	text-align: center;
}
.lista-crear{
	list-style: none;
}
.profileImg{
	height:200px; 
	width:200px;
}
.profileList{
	list-style:none;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');
.form {
	padding: 30px 40px;	
	width: 50%;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}


.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}


























