*{
    padding: 0;
    margin: 0;
	outline: 0;
    box-sizing: border-box;
}
body{
	font-family:'Open Sans', Arial, Helvetica, sans-serif;
}
.menu{
	background-color: black;
	height: 75px;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid white;
	color: white;
}

.log{
	padding:0px 10px;
	font-weight: bold;
}
.log img{
	padding: 0px;
}
.header-items{
	display: flex;
	margin-right: 30px;
	justify-content: space-between;
	list-style: none;
}
.header-items li a{
	font-size: 11px;
	border-radius: 1px;
	margin: 0 5px;
	display:block;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	position: relative;
	transition: 0.5s;
}
.header-items li a:after{
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	top: 100%;
	left: 0;
	background: white;
	transition: transform 0.5s;
	transform: scaleX(0);
	transform-origin: right;
}
.header-items li a:hover{
	color: #95a5a6;
}
.header-items li a:hover::after{
	transform: scaleX(1);
	transform-origin: left;
}
/* .video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;

    padding-bottom: 48px;
    padding-top: 48px;
} */

.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;

}

.descuento{
    color: green;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}

section {
  width: 100%;
  display: inline-block;
  background: black;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: black;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}


.footer-distributed .footer-left{
	width: 40%;
}


.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}
header a{
	text-decoration: none;
	/* color: grey; */
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  white;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}


.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}


/* @media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

} */

.header-table a{
	padding: 10px;
	color: white;
	display: flex;
	justify-content: flex-end;
}
.form{
	margin-right: 10px;
}
.logo{
	padding: 10px;
}
header{
	background-color: black;
}
main{
	background-color: black;
}
hr{
	border: none;
	height: 0.5px;
}
.cv{
	text-decoration: none;
	color: white;
}

/* .header-navbar{
	display: flex;
	justify-content:flex-end;
} */
.products:hover article{
	box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.products{
	display:flex;
}
.nav_input{
	display: none; 
}
.nav_label{
	display: none;
	margin-right:30px;
	font-size: 25px;
	color: white;
	cursor: pointer;
}


/* @media screen and (max-width:952px) {
	.header-items li a{
		font-size: 16px;
	}
} */
@media screen and (max-width:718px){
	.nav_input:checked + .header-items{
		display:inline-block;
   }
	.menu{
		height: 65px;
		padding-left: 20px;
		position: fixed;
	}
	.nav_label{
		display: inline-flex;
	}
	/* .header-a{
		 position:fixed;
		width: 100vw;
		height: calc(100% - 65px);
		background: black;
		top:-100vh; 
		display: none;
		text-align: center;
		transition:all 0.5s;
		flex-direction: column; 
		
	} */
	.header-items{
		display: none;
	}
	.header-items{
		background:black;
		position: fixed;
		display: flex;
		flex-direction: column;
		top:80px;
		/* bottom: 0;   */
		clip-path: inset(0 100% 100% 0);
		transition: clip-path 400ms ease-in;
		transition-duration: 150ms;
	}
	.nav_input:checked + .header-items{
		clip-path: inset(0 100% 0 100%);
	}
}