*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo{
    margin-left: 8px;
    margin-right: 8px;
    height: 100%;
}
.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;

    padding-bottom: 48px;
    padding-top: 48px;
}

.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;

}

.descuento{
    color: green;
}



footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}


