<footer class="footer-distributed"> 
    <hr style="color: white; height: 0.5px;">
    <div class="footer-left">

        <a class="cv" href="/"><img src="\images\Logotipo.png" width="45px" height="45px" alt="Logo" class="logo">Criptoventas</a>

        <p class="footer-links">
            <a href="#" class="link-1">Home</a>
            
            <a href="#">Presupuestos</a>
        
            <a href="#">Terminos y condiciones</a>
        
            <a href="#">Nosotros</a>
            
            <a href="#">Ayuda</a>
            
            <a href="#">Contacto</a>
        </p>

        <p class="footer-company-name">Criptoventas © 2021</p>
    </div>

    <div class="footer-center">

        <div>
            
            <p><span>Calle 62 nro 370</span> La Plata, Buenos Aires</p>
        </div>
        <br>
        <div>
            
            <i class="bi bi-whatsapp"> </i><a href="https://api.whatsapp.com/send?phone=+5492216493669">Whatsapp 02216493669</a>
        </div>
        <br>
        <div>
            
            <p><a href="mailto:support@company.com">criptoventas@binance.com</a></p>
        </div>


    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>Acerca de nosotros</span>
            Somos una empresa dedicada a la venta y armado de rigs de mineria y componentes de dichos, estamos a su disposicion para cualquier consulta que pueda necesitar
        </p>
    </div>
</footer>