<nav class="menu">
    <label for="menu" class="nav_label">
        <i id="hamburguer" class="fas fa-bars"></i>
     </label>
     <label class="log"><a href="/"><img src="\images\Logotipo.png" width="45px" height="45px" alt="Logo" class="logo"><span>Criptoventas</span><p style="font-size: 7px; font-style: italic; padding-left: 47px;">Let´s mine</p></a></label>
     <input type="checkbox" id="menu" class="nav_input">
     <ul class="header-items">
        <li class="header-a"><a href="/">Inicio</a></li>
        <li class="header-a"><a href="/login">Log in <i class="far fa-user"></i></a></li>
        <li class="header-a"><a href="/register">Registrate <i class="fas fa-sign-in-alt"></i></a></li>
        <li class="header-a"><a href="/productos">Productos <i class="fas fa-shopping-bag"></i></li>
        <li class="header-a"><a href="/carrito">Tu carrito <i class="fas fa-shopping-cart"></i> </a></li>
     </ul>
     <div class="form"><input type="search" name="Buscar" id="buscador"> <i class="fas fa-search"></i></div>
 </nav>

<header>
    <hr style="color: white; height: 0.5px;">
</header>