<!DOCTYPE html>
<html>
    <body>
        <%- include('../partials/head.ejs')%>
        <%- include('../partials/header.ejs')%>
        <main class="login">
            <h1>Formulario de Log in</h1>
            <% if (typeof validaciones != "undefined"){ %>
                <p style="color: red;">ERROR!!</p>
                <ul>
                    <% for (let i = 0; i < validaciones.length; i++){ %>
                    <li><%= validaciones[i].msg %></li>
                    <% } %>
                </ul>
                <% } %>
            <br>
            <form class="formulario"  action="/" method="POST">
                <input type="text" name="email" placeholder="Ingrese su e-mail">
                <input type="password" name="password" placeholder="Contraseña">
                <input class="enviar" type="submit" value="Enviar">
            </form>
              <br>
              <hr>
              
            <p>¿No tienes cuenta? -<a href="/register">Registrate</a></p>
            <br>
        </main>
        <br>
        <%- include('../partials/footer.ejs')%>
        <script>
            window.addEventListener('load', function(){
                let formulario = document.querySelector('form.formulario');
                formulario.addEventListener('submit',function(e){
                    e.preventDefault();
                });
            })
    
        </script>
    </body>
</html>