<!DOCTYPE html>
<html>
    <body>
        <%- include('../partials/head.ejs')%>
        <%- include('../partials/header.ejs')%>

        <main class="register">
            <h1>Crear cuenta</h1>
            <br>
            <% if (typeof validaciones != "undefined"){ %>
                <p style="color: red;">ERROR!!</p>
                <ul>
                    <% for (let i = 0; i < validaciones.length; i++){ %>
                    <li><%= validaciones[i].msg %></li>
                    <% } %>
                </ul>
                <% } %>
             <form class="formulario"  action="/users/registro" method="POST" enctype="multipart/form-data">
                <ul class="lista-crear">

                    <div class="form-control">                
                        <input class="name" type="text" name="name" id="name" placeholder="Nombre">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error en el precio</small>
                    </div>
                    <br>
                    <div class="form-control">
                        <input class="last_name" type="text" name="last_name" placeholder="Apellido">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error en el precio</small>
                    </div>
                    <br>
                    <div class="form-control">
                        <input class="email" type="email" name="email" placeholder="e-mail">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error en el precio</small>
                    </div>
                    <br>
                    <div class="form-control">
                        <input class="pass" type="password" name="pass" placeholder="Elegí tu contraseña">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error en el precio</small>
                    </div>
                    <br>
                    <div class="form-control">
                        <input class="image" type="file" name="image" placeholder="Imagen de usuario">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error en el precio</small>
                    </div>
                    <br>
                    <div >
                        <li><input type="submit" value="Enviar">
                        <input type="reset" value="Borrar"></li>
                    
                    <br>
                </ul> 
        <br>
        <%- include('../partials/footer.ejs')%>
        <script>
            window.addEventListener('load', function(){
                let formulario = document.querySelector('form.formulario');
                formulario.addEventListener('submit',function(e){

                    let campoName = document.querySelector('input.name');
                    let campoLastName = document.querySelector('input.last_name');
                    let campoEmail = document.querySelector('input.email');
                    let campoImage = document.querySelector('input.image'); 
                    let campoPass = document.querySelector('input.pass'); 

                    // ##########FUNCIONES########
                    function setErrorFor(input,mensaje) {
                     	const formControl = input.parentElement;
                     	const small = formControl.querySelector('small');
                     	formControl.className = 'form-control error';
                     	small.innerText = mensaje;
                     }

                    function setSuccessFor(input) {
                     	const formControl = input.parentElement;
                     	formControl.className = 'form-control success';
                     }

                    function isEmail(campoEmail) {
                        return  (/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(campoEmail))

                    }   
                    function validarImagen(obj){
                     var uploadFile = obj.files[0];
                    if (!(/\.(jpg|png|gif)$/i).test(uploadFile.name)) {
                        return true
                    }else{ return false}}
                    

                     if (campoName.value=="") {
                         e.preventDefault();
                         setErrorFor(campoName,"Debes ingresar un nombre")
                     } else if(campoName.value.length < 2) {
                         e.preventDefault();
                         setErrorFor(campoName,"El nombre debe tener mas de 2 caracteres")
                     }else{
                        setSuccessFor(campoName)
                     }
                    if (campoLastName.value=="") {
                        e.preventDefault();
                        setErrorFor(campoLastName,"Debes ingresar un apellido")
  
                    } else if (campoLastName.value.length < 2){
                        e.preventDefault();
                        setErrorFor(campoLastName,"El apellido debe tener mas de 2 caracteres")

                    }else{
                        setSuccessFor(campoLastName)
                     }
                    if (campoEmail.value=="") {
                        e.preventDefault();
                        setErrorFor(campoEmail,"Debes ingresar un email")
                    } else if (!isEmail(campoEmail.value)){
                        e.preventDefault();
                        setErrorFor(campoEmail,"Email invalido")
                    }else{
                        setSuccessFor(campoEmail)
                     }
                    if (campoPass.value=="") {
                         e.preventDefault();
                         setErrorFor(campoPass,"Tienes que ingresar una contraseña")
                     } else if(campoPass.value.length < 8) {
                         e.preventDefault();
                         setErrorFor(campoPass,"La contraseña debe tener mas de 8 caracteres")
                     }else{
                        setSuccessFor(campoPass)
                     }
                     if (campoImage.value=="") {
                        e.preventDefault();
                        setErrorFor(campoImage,"Debes elegir una imagen")
                } else if(validarImagen(campoImage)){
                        e.preventDefault();
                        setErrorFor(campoImage,"Formato incorrecto de imagen")
                }else{
                        setSuccessFor(campoImage)
                    }
                
                });
            })
    
        </script>
    </body>
</html>