<!DOCTYPE html>
<html>
    <body>
        <%- include('../partials/head.ejs')%>
        <%- include('../partials/header.ejs')%>

        <main class="register">
            <h1>Crear cuenta</h1>
            <br>
            <% if (typeof validaciones != "undefined"){ %>
                <p style="color: red;">ERROR!!</p>
                <ul>
                    <% for (let i = 0; i < validaciones.length; i++){ %>
                    <li><%= validaciones[i].msg %></li>
                    <% } %>
                </ul>
                <% } %>
             <form action="/users/registro" method="POST" enctype="multipart/form-data">
                <ul class="lista-crear">
                    <li><input required type="text" name="name" id="name" placeholder="Nombre"></li>
                    <br>
                    <li><input required type="text" name="last_name" placeholder="Apellido"></li>
                    <br>
                    <li><input required type="email" name="email" placeholder="e-mail"></li>
                    <br>
                    <li><input required type="password" name="pass" placeholder="Elegí tu contraseña"></li>
                    <br>
                    <li><input type="file" name="image" placeholder="Imagen de usuario"></li>
                    <br>
                    <li><input type="submit" value="Enviar">
                    <input type="reset" value="Borrar"></li> 
                    <br>
                </ul> 
            
            <!-- <div class="container">
                <form id="formularioValidado" class="form">
                    <div class="form-control ">
                        <label for="username">Nombre</label>
                        <input type="text" placeholder="Nombre" id="nombreFormulario" />
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error en el nombre</small>
                    </div>
                    <div class="form-control ">
                        <label for="Apellido">Apellido</label>
                        <input type="text" placeholder="Apellido" id="apellidoFormulario"/>
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error en el apellido</small>
                    </div>
                    <div class="form-control">
                        <label for="email">E-mail</label>
                        <input type="email" placeholder="e-mail" id="emailFormulario" />
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error en el mail</small>
                    </div>
                    <div class="form-control">
                        <label for="password">Contraseña</label>
                        <input type="password" placeholder="contraseña" id="passwordFormulario"/>
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Contraseña invalida</small>
                    </div>
                    <div class="form-control">
                        <label for="password2">Checkear contraseña</label>
                        <input type="password" placeholder="vuelve a ingresarla" id="password2"/>
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Las contraseñas no coinciden</small>
                    </div> -->
                    <!-- <div class="form-control">
                        <label for="img">Subir Imagen de perfil</label>
                        <input type="img" placeholder="Seleccione su imagen" id="img"/>
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Las contraseñas no coinciden</small>
                    </div> -->
                    <!-- <button type="submit">Submit</button>
                    <input type="reset" value="Borrar">
                </form>
            </div> -->
        <br>
        <%- include('../partials/footer.ejs')%>
    </body>
</html>