<!DOCTYPE html>
<html>
    <body>
        <%- include('../partials/head.ejs')%>
        <%- include('../partials/header.ejs')%>

        <main class="register">
            <h1>Crear cuenta</h1>
            <br>
            <% if (typeof validaciones != "undefined"){ %>
                <p style="color: red;">ERROR!!</p>
                <ul>
                    <% for (let i = 0; i < validaciones.length; i++){ %>
                    <li><%= validaciones[i].msg %></li>
                    <% } %>
                </ul>
                <% } %>
             <form class="formulario"  action="/users/registro" method="POST" enctype="multipart/form-data">
                <ul class="lista-crear">

                    <div class="form-control">                
                        <li><input required type="text" name="name" id="name" placeholder="Nombre"></li>
                    </div>
                    <br>
                        <li><input required type="text" name="last_name" placeholder="Apellido"></li>
                    <br>
                    <div class="form-control">
                        <li><input required type="email" name="email" placeholder="e-mail"></li>
                    </div>
                    <br>
                    <div class="form-control">
                        <li><input required type="password" name="pass" placeholder="Elegí tu contraseña"></li>
                    </div>
                    <br>
                    <div class="form-control">
                        <li><input type="file" name="image" placeholder="Imagen de usuario"></li>
                    </div>
                    <br>
                    <div class="form-control">
                        <li><input type="submit" value="Enviar">
                        <input type="reset" value="Borrar"></li>
                    </div> 
                    <br>

                </ul> 
        <br>
        <%- include('../partials/footer.ejs')%>
        <script>
            window.addEventListener('load', function(){
                let formulario = document.querySelector('form.formulario');
                formulario.addEventListener('submit',function(e){

                    let campoName = document.querySelector('input.name');
                    let campoLastName = document.querySelector('input.last_name');
                    let campoEmail = document.querySelector('input.email');
                    let campoImage = document.querySelector('input.image'); 

                    e.preventDefault();

                    if (campoName.value=="") {
                        
                    } else if(campoName.value=="") {
                        
                    }
                    if (campoLastName.value=="") {
                        
                    } else if (campoLastName.value==""){
                        
                    }
                    if (campoEmail.value=="") {
                        
                    } else if (campoEmail.value==""){
                        
                    }
                    if (campoImage.value=="") {
                        
                    } else if(campoImage.value==""){
                        
                    }
                });
            })
    
        </script>
    </body>
</html>