<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/head.ejs')%>
    <%- include('../partials/header.ejs')%>
    
    <main class="login">
        <h1>Log in</h1>
        <br>
        <form action="/users/login" method="POST">
            <input type="text" name="email" placeholder="Ingrese su e-mail">
            <input type="password" name="password" placeholder="Contraseña">
            <input class="enviar" type="submit" value="Enviar">
        </form>
          <br>
          <hr>
          
        <p>¿No tienes cuenta? -<a href="/users/register">Registrate</a></p>
        <br>
    </main>
    <br>

    <%- include('../partials/footer.ejs')%>
</body>
</html>